$bg-primary: #2e2e2e;
$text-primary: rgba(255, 255, 255, 1);
$text-secondary: rgba(255, 255, 255, 0.7);
$text-tertiary: rgba(255, 255, 255, 0.9);
$brand-accent: #c1ee49;


$main-background-image: url('../assets/images/background-desktop.webp');
$main-background-image-mobile: url('../assets/images/background-mobile.webp');
$main-background-overlay: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));

$breakpoint-tablet: 768px;

$padding-horizontal-desktop: 5rem;
$padding-horizontal-mobile: 1.5rem;