@import '../../styles/variables';

.main {
    flex-grow: 1;
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: center;
        .main__content {
            margin-bottom: 5rem;
            .main__title {
                font-weight: 300;
                font-size: clamp(2.5rem, 1.6667rem + 4.1667vw, 5rem);
            }
            .main__subtitle {
                font-weight: 300;
                font-size: clamp(1.25rem, 1rem + 1.25vw, 2rem);
                color: $text-secondary;
            }
            .main__desc {
                font-weight: 100;
                font-size: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem);
                color: $text-tertiary;
                margin-top: 3rem;
                max-width: 65ch;
                @media (max-width: $breakpoint-tablet) {
                    margin-top: 2.5rem;
                }
            }
        }
        .main__socials {
            display: flex;
            gap: 1.5rem;
            margin-bottom: 1rem;
        }
        .main__social-icon {
            width: clamp(3rem, 2.6667rem + 1.6667vw, 4rem);
            height: clamp(3rem, 2.6667rem + 1.6667vw, 4rem);
            opacity: 0.7;
            transition: opacity 0.3s ease;
            &:hover {
                opacity: 1;
            }
            @media (max-width: $breakpoint-tablet) {
                opacity: 1;
            }
        }
    }
}